# Podstawy programowania w Pythonie

## Podstawowe struktury danych - LIST/LISTA
Modyfikowalna, uporządkowana, indeksowalna kolekcja

In [1]:
lista = [1, 2, 3, 4, 5] # Tworzenie listy
print("Lista:", lista)
lista.append(6)  # Dodawanie elementu
print("Lista po dodaniu 6:", lista)
lista.remove(3)  # Usuwanie elementu
print("Lista po usunięciu 3:", lista)
print("Element na indeksie 2:", lista[2])  # Odnoszenie się do elementu
print("Elementy na indeksach 1, 2:", lista[1:3]) # Odnoszenie się do elementu o indeksie 1 i 2

Lista: [1, 2, 3, 4, 5]
Lista po dodaniu 6: [1, 2, 3, 4, 5, 6]
Lista po usunięciu 3: [1, 2, 4, 5, 6]
Element na indeksie 2: 4
Elementy na indeksach 1, 2: [2, 4]

### Ćwiczenie
1. Utwórz listę liczb parzystych od 2 do 20 włącznie.
2. Usuń z niej 4 element.
2. Wydrukuj elementy na indeksach 2, 3, 4, 5.

In [2]:
x = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
print(x)
print("Czwarty element:", x[3])
x.remove(8)
print(x)
print(x[2:6])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Czwarty element: 8
[2, 4, 6, 10, 12, 14, 16, 18, 20]
[6, 10, 12, 14]

## Podstawowe struktury danych - TUPLE/KROTKA
Niemodyfikowalna, uporządkowana, indeksowalna kolekcja

In [3]:
krotka = (10, 20, 30) # Tworzenie listy
print("Krotka:", krotka)
print("Element na indeksie 1:", krotka[1])  # Odnoszenie się do elementu
print(10 in krotka)

Krotka: (10, 20, 30)
Element na indeksie 1: 20
True

### Ćwiczenie
Wypisz drugi element krotki i sprawdź, czy liczba 25 znajduje się w krotce

In [4]:
print(krotka[1])
print(25 in krotka)

20
False

## Podstawowe struktury danych - ZBIÓR/SET 
Modyfikowalna, nieuporządkowana, nieindeksowalna kolekcja

In [5]:
zbior = {1, 2, 3, 3, 4, 4, 4, 4, 5}
print("Zbiór:", zbior)
zbior.add(6)  # Dodawanie elementu
print("Zbiór po dodaniu 6:", zbior)
zbior.discard(2)  # Usuwanie elementu
print("Zbiór po usunięciu 2:", zbior)

Zbiór: {1, 2, 3, 4, 5}
Zbiór po dodaniu 6: {1, 2, 3, 4, 5, 6}
Zbiór po usunięciu 2: {1, 3, 4, 5, 6}

### Ćwiczenie
Stwórz zbiór z liczbami od 1 do 10, a następnie usuń z niego liczbę 5

In [6]:
zbior = {1,2,3,4,5,6,7,8,9,10,1}
zbior.discard(5)
print(zbior)

{1, 2, 3, 4, 6, 7, 8, 9, 10}

## Podstawowe struktury danych - SŁOWNIK/DICT 
Modyfikowalna, uporządkowana, indeksowalna przez klucze kolekcja

In [7]:
# SŁOWNIK - przechowuje pary klucz-wartość
slownik = {"imie": ["Jan", "Krzysztof"], "wiek": [25, 62]}
print("Słownik:", slownik)
slownik["miasto"] = ["Warszawa", "Białystok"]  # Dodawanie nowej pary klucz-wartość
print("Słownik po dodaniu miasta:", slownik)
del slownik["wiek"]  # Usuwanie klucza
print("Słownik po usunięciu wieku:", slownik)
print("Imię ze słownika:", slownik["imie"])  # Odnoszenie się do wartości

Słownik: {'imie': ['Jan', 'Krzysztof'], 'wiek': [25, 62]}
Słownik po dodaniu miasta: {'imie': ['Jan', 'Krzysztof'], 'wiek': [25, 62], 'miasto': ['Warszawa', 'Białystok']}
Słownik po usunięciu wieku: {'imie': ['Jan', 'Krzysztof'], 'miasto': ['Warszawa', 'Białystok']}
Imię ze słownika: ['Jan', 'Krzysztof']

In [8]:
print("Klucze:", slownik.keys()) # metoda .keys() zwraca wszystkie klucze słownika
print("Wartości:", slownik.values()) # metoda .values() zwraca wszystkie wartości słownika

Klucze: dict_keys(['imie', 'miasto'])
Wartości: dict_values([['Jan', 'Krzysztof'], ['Warszawa', 'Białystok']])

### Ćwiczenie
Dodaj do słownika klucz "zawód" z wartością ["Analityk danych", "Zdun"], a następnie usuń klucz "miasto"

In [9]:
slownik['zawód'] =  ["Analityk danych", "Zdun"]
print(slownik)
del slownik['miasto']
print(slownik)

{'imie': ['Jan', 'Krzysztof'], 'miasto': ['Warszawa', 'Białystok'], 'zawód': ['Analityk danych', 'Zdun']}
{'imie': ['Jan', 'Krzysztof'], 'zawód': ['Analityk danych', 'Zdun']}

## Instrukcja `if`-`else`

In [10]:
liczba = -10
if liczba > 0:
    print("Liczba jest dodatnia")
else:
    print("Liczba nie jest dodatnia")

Liczba nie jest dodatnia

### Ćwiczenie
Napisz kod sprawdzający, czy podana liczba jest parzysta

In [11]:
X = -10

if X % 2 == 0:
    print("X jest parzysta")
else:
    print("X jest nieparzysta")

X jest parzysta

## Instrukcja `if`-`elif`-`else`

In [12]:
wiek = 19
if wiek < 18:
    print("Nieletni")
elif wiek == 18:
    print("Dokładnie 18 lat")
else:
    print("Pełnoletni")

Pełnoletni

### Ćwiczenie
Napisz kod określający, czy liczba jest dodatnia, ujemna czy zerem

In [13]:
X = -3.5

if X > 0:
    print("X jest dodatni")
elif X == 0:
    print("X jest zerem")
else:
    print("X jest ujemny")

X jest ujemny

## Pętla `for`

In [14]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in range(1, 10, 2): # range(start, koniec, co ile zmiana)
    print("Iteracja:", i)

Iteracja: 1
Iteracja: 3
Iteracja: 5
Iteracja: 7
Iteracja: 9

In [16]:
liczby = [0, 3, 21, 42]
for liczba in liczby: # możliwe jest iterowanie po podstawowych strukturach
    print("liczba:", liczba)

liczba: 0
liczba: 3
liczba: 21
liczba: 42

In [17]:
for liczba in [0, 3, 21, 42]: # możliwa jest iteracja bez deklaracji
    print("liczba:", liczba)

liczba: 0
liczba: 3
liczba: 21
liczba: 42

In [18]:
slownik = {"imie": "Jan", "wiek": 25, "miasto": "Warszawa"}

for klucz, wartosc in slownik.items():
    print("Kolejna iteracja")
    print(klucz, wartosc)

Kolejna iteracja
imie Jan
Kolejna iteracja
wiek 25
Kolejna iteracja
miasto Warszawa

### Ćwiczenie: 
Użyj pętli `for` i `range`, aby wypisać liczby od 10 do 1 włącznie

In [19]:
for x in range(10, 0, -1):
    print(x)

10
9
8
7
6
5
4
3
2
1

## Pętla `while`

In [20]:
x = 5
while x > 0: # wykonuj do momentu aż x > 0
    x -= 1
    
    print("x wynosi:", x)
    
print("Done!")

x wynosi: 4
x wynosi: 3
x wynosi: 2
x wynosi: 1
x wynosi: 0
Done!

### Ćwiczenie
Użyj pętli while, aby znaleźć pierwszą liczbę podzielną przez 7 większą niż 50

In [21]:
x = 50
while x % 7 != 0:
    x+=1

print("Pierwsza podzielna przez 7 większa niż 50 to", x)

Pierwsza podzielna przez 7 większa niż 50 to 56

## `break` i `continue`

In [22]:
x = 5
while x > 0:
    x -= 1
    if x == 2: 
        continue # Jeżeli x == 2 przejdź do następnej iteracji
    print("x wynosi:", x)\

print(x)

x wynosi: 4
x wynosi: 3
x wynosi: 1
x wynosi: 0
0

In [23]:
x = 5
while x > 0:
    x -= 1
    if x == 2:
        break  # Jeżeli x == 2 przestań wykonywać pętlę
    print("x wynosi:", x)

print("Po pętli x =",x)

x wynosi: 4
x wynosi: 3
Po pętli x = 2

### Ćwiczenie
Zadeklaruj `x = 1`. Użyj pętli `while` by mnożyć i nadpisać `x` przez `2`. 

Wydrukuj każde `x` oprócz `x == 16`. 

Przerwij pętlę gdy `x > 100`

In [33]:
x = 1
while True:
    x *= 2
    if x == 16:
        continue
    elif x > 100:
        break
    print(x)

2
4
8
32
64

## Funkcje w Python

In [34]:
def przywitanie(): # Deklaracja funkcji
    print("Witaj na 21 zajęciach Junior Data Analyst!") # Co funkcja robi

przywitanie()
przywitanie()
przywitanie()

Witaj na 21 zajęciach Junior Data Analyst!
Witaj na 21 zajęciach Junior Data Analyst!
Witaj na 21 zajęciach Junior Data Analyst!

### Ćwiczenie: 
Napisz funkcję, która wypisuje "Hello, World!"

In [36]:
def hello():
    print("Hello World!")

hello()

Hello World!

## Argumenty w funkcji i zwracanie wartości funkcji

In [37]:
# Zwracanie wartości funkcji
def kwadrat(x):
    return x * x

kwadrat_4 = kwadrat(4)

print("Kwadrat 4 to:", kwadrat_4)

Kwadrat 4 to: 16

In [42]:
# Argumenty w funkcji
def dodaj(a, b):
    return a + b

wynik = dodaj(a = 5, b = 10)
print("Wynik dodawania:", wynik)

Wynik dodawania: 15

-1

### Ćwiczenie: 
Napisz funkcję zwracającą większą z dwóch liczb

In [45]:
def wieksza(a, b):
    if a > b:
        return a
    elif a < b:
        return b
    else:
        print("równe")
        return "takie same"

print(wieksza(10,10))

równe
takie same

## List comprehensions

In [49]:
range(100)

range(0, 100)

In [53]:
liczby = [x for x in range(100)] # liczby od 0 do 10 wyłącznie
print("Liczby 0 - 99:", liczby)

liczby_alt = []
for x in range(100):
    liczby_alt.append(x)
    
print("Liczby 0 - 99:", liczby_alt)

Liczby 0 - 99: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
Liczby 0 - 99: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [56]:
liczby = [x**2 for x in range(10) if x % 2 == 0] # kwadraty liczb parzystych od 0 do 10 wyłącznie 
print("kwadraty liczb parzystych 0-9:", liczby)

liczby_alt = []
for x in range(10):
    if x % 2 == 0:
        liczby_alt.append(x**2)

print("kwadraty liczb parzystych 0-9:", liczby_alt)

kwadraty liczb parzystych 0-9: [0, 4, 16, 36, 64]
kwadraty liczb parzystych 0-9: [0, 4, 16, 36, 64]

### Ćwiczenie: 
Użyj list comprehension, aby stworzyć listę liczb podzielnych przez 3 z zakresu 1-30 włącznie

In [59]:
lista = [x for x in range(1, 31, 1) if x % 3 == 0]
print(lista)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]