# Podstawy programowania w Pythonie

## Podstawowe struktury danych - LIST/LISTA
Modyfikowalna, uporządkowana, indeksowalna kolekcja

In [5]:
lista = [1, 2, 3, 4, 5] # Tworzenie listy
print("Lista:", lista)
lista.append(6)  # Dodawanie elementu
print("Lista po dodaniu 6:", lista)
lista.remove(3)  # Usuwanie elementu
print("Lista po usunięciu 3:", lista)
print("Element na indeksie 2:", lista[2])  # Odnoszenie się do elementu
print("Elementy na indeksach 1, 2:", lista[1:3]) # Odnoszenie się do elementu 2 i 3

Lista: [1, 2, 3, 4, 5]
Lista po dodaniu 6: [1, 2, 3, 4, 5, 6]
Lista po usunięciu 3: [1, 2, 4, 5, 6]
Element na indeksie 2: 4
Elementy na indeksach 1, 2: [2, 4]

### Ćwiczenie
1. Utwórz listę liczb parzystych od 2 do 20 włącznie.
2. Usuń z niej 4 element.
2. Wydrukuj elementy na indeksach 2, 3, 4, 5.

In [11]:
x = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
print(x)
#x.remove(8) 
x = x[0:3] + x[4:]
print(x)
print(x[2:6])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 10, 12, 14, 16, 18, 20]
[6, 10, 12, 14]

## Podstawowe struktury danych - TUPLE/KROTKA
Niemodyfikowalna, uporządkowana, indeksowalna kolekcja

In [14]:
krotka = (10, 20, 30) # Tworzenie listy
print("Krotka:", krotka)
print("Element na indeksie 1:", krotka[1])  # Odnoszenie się do elementu
print(10 in krotka)

Krotka: (10, 20, 30)
Element na indeksie 1: 20
True

### Ćwiczenie
Wypisz drugi element krotki i sprawdź, czy liczba 25 znajduje się w krotce

In [16]:
print(krotka[1])
print(25 in krotka)

20
False

## Podstawowe struktury danych - ZBIÓR/SET 
Modyfikowalna, nieuporządkowana, nieindeksowalna kolekcja

In [22]:
zbior = {1, 2, 3, 3, 4, 4, 4, 4, 5}
print("Zbiór:", zbior)
zbior.add(6)  # Dodawanie elementu
print("Zbiór po dodaniu 6:", zbior)
zbior.discard(2)  # Usuwanie elementu
print("Zbiór po usunięciu 2:", zbior)

Zbiór: {1, 2, 3, 4, 5}
Zbiór po dodaniu 6: {1, 2, 3, 4, 5, 6}
Zbiór po usunięciu 2: {1, 3, 4, 5, 6}

### Ćwiczenie
Stwórz zbiór z liczbami od 1 do 10, a następnie usuń z niego liczbę 5

In [26]:
zbior2 = {1, 2, 3, 3, 4, 4, 4, 4, 5, 6, 7, 8, 9, 10}
print(zbior2)
zbior2.discard(5)
print(zbior2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 6, 7, 8, 9, 10}

## Podstawowe struktury danych - SŁOWNIK/DICT 
Modyfikowalna, uporządkowana, indeksowalna przez klucze kolekcja

In [36]:
# SŁOWNIK - przechowuje pary klucz-wartość
slownik = {"imie": ["Jan", "Krzysztof"], "wiek": [25, 62]}
print("Słownik:", slownik)
slownik["miasto"] = ["Warszawa", "Białystok"]  # Dodawanie nowej pary klucz-wartość
print("Słownik po dodaniu miasta:", slownik)
del slownik["wiek"]  # Usuwanie klucza
print("Słownik po usunięciu wieku:", slownik)
print("Imię ze słownika:", slownik["imie"])  # Odnoszenie się do wartości

Słownik: {'imie': ['Jan', 'Krzysztof'], 'wiek': [25, 62]}
Słownik po dodaniu miasta: {'imie': ['Jan', 'Krzysztof'], 'wiek': [25, 62], 'miasto': ['Warszawa', 'Białystok']}
Słownik po usunięciu wieku: {'imie': ['Jan', 'Krzysztof'], 'miasto': ['Warszawa', 'Białystok']}
Imię ze słownika: ['Jan', 'Krzysztof']

In [38]:
print("Klucze:", slownik.keys()) # metoda .keys() zwraca wszystkie klucze słownika
print("Wartości:", slownik.values()) # metoda .values() zwraca wszystkie wartości słownika

Klucze: dict_keys(['imie', 'miasto'])
Wartości: dict_values([['Jan', 'Krzysztof'], ['Warszawa', 'Białystok']])

### Ćwiczenie
Dodaj do słownika klucz "zawód" z wartością ["Analityk danych", "Zdun"], a następnie usuń klucz "miasto"

In [41]:
slownik['zawod'] = ["Analityk danych", "Zdun"]
print(slownik)
del slownik['miasto']
print(slownik)

{'imie': ['Jan', 'Krzysztof'], 'miasto': ['Warszawa', 'Białystok'], 'zawod': ['Analityk danych', 'Zdun']}
{'imie': ['Jan', 'Krzysztof'], 'zawod': ['Analityk danych', 'Zdun']}

## Instrukcja `if`-`else`

In [44]:
liczba = -10
if liczba > 0:
    print("Liczba jest dodatnia")
else:
    print("Liczba nie jest dodatnia")

Liczba nie jest dodatnia

### Ćwiczenie
Napisz kod sprawdzający, czy podana liczba jest parzysta

In [47]:
x = 42
if x % 2 == 0:
    print("Parzysta!")
else:
    print("Nieparzysta!")

Zrobione

## Instrukcja `if`-`elif`-`else`

In [51]:
wiek = 15
if wiek < 18:
    print("Nieletni")
elif wiek == 18:
    print("Dokładnie 18 lat")
else:
    print("Pełnoletni")

Nieletni

### Ćwiczenie
Napisz kod określający, czy liczba jest dodatnia, ujemna czy zerem

In [56]:
x = 3.14

if x > 0:
    print("x jest dodatni")
elif x < 0:
    print("x jest ujemny")
elif x == 0: 
    print("x jest zerem")
else:
    print("jestem niepotrzebnym elsem")

x jest dodatni

## Pętla `for`

In [57]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [64]:
for i in range(10, 1, -2): # range(start, koniec, co ile zmiana)
    print("Iteracja:", i)

Iteracja: 10
Iteracja: 8
Iteracja: 6
Iteracja: 4
Iteracja: 2

In [65]:
liczby = [0, 3, 21, 42]
for liczba in liczby: # możliwe jest iterowanie po podstawowych strukturach
    print("liczba:", liczba)

liczba: 0
liczba: 3
liczba: 21
liczba: 42

In [66]:
for liczba in [0, 3, 21, 42]: # możliwa jest iteracja bez deklaracji
    print("liczba:", liczba)

liczba: 0
liczba: 3
liczba: 21
liczba: 42

In [67]:
slownik = {"imie": "Jan", "wiek": 25, "miasto": "Warszawa"}

for klucz, wartosc in slownik.items():
    print(klucz, wartosc)

imie Jan
wiek 25
miasto Warszawa

### Ćwiczenie: 
Użyj pętli `for` i `range`, aby wypisać liczby od 10 do 1 włącznie

In [70]:
for x in range(10, 0, -1):
    print("Kolejna liczba to:", x)

Kolejna liczba to: 10
Kolejna liczba to: 9
Kolejna liczba to: 8
Kolejna liczba to: 7
Kolejna liczba to: 6
Kolejna liczba to: 5
Kolejna liczba to: 4
Kolejna liczba to: 3
Kolejna liczba to: 2
Kolejna liczba to: 1

## Pętla `while`

In [76]:
x = 5
while x > 0: # wykonuj do momentu aż x > 0
    x -= 1
    
    print("x wynosi:", x)
    
print("Done!")

x wynosi: 4
x wynosi: 3
x wynosi: 2
x wynosi: 1
x wynosi: 0
Done!

### Ćwiczenie
Użyj pętli while, aby znaleźć pierwszą liczbę podzielną przez 7 większą niż 50

In [78]:
x = 50
while ((x % 7) != 0):
    x += 1

print("Pierwsza podzielna przez 7 większa od 50 to:", x)

Pierwsza podzielna przez 7 większa od 50 to: 56

## `break` i `continue`

In [80]:
x = 5
while x > 0:
    x -= 1
    if x == 2: 
        continue # Jeżeli x == 2 przejdź do następnej iteracji
    print("x wynosi:", x)

x wynosi: 4
x wynosi: 3
x wynosi: 1
x wynosi: 0

In [81]:
x = 5
while x > 0:
    x -= 1
    if x == 2:
        break  # Jeżeli x == 2 przestań wykonywać pętlę
    print("x wynosi:", x)

x wynosi: 4
x wynosi: 3

### Ćwiczenie
Zadeklaruj `x = 1`. Użyj pętli `while` by mnożyć i nadpisać `x` przez `2`. 

Wydrukuj każde `x` oprócz `x == 16`. 

Przerwij pętlę gdy `x > 100`

In [86]:
x = 1
while True:
    x *= 2
    if x == 16:
        continue
    print(x)
    if x > 100:
        break

2
4
8
32
64
128

## Funkcje w Python

In [89]:
def przywitanie(): # Deklaracja funkcji
    print("Witaj na 21 zajęciach Junior Data Analyst!") # Co funkcja robi

przywitanie()
przywitanie()
przywitanie()

Witaj na 21 zajęciach Junior Data Analyst!
Witaj na 21 zajęciach Junior Data Analyst!
Witaj na 21 zajęciach Junior Data Analyst!

### Ćwiczenie: 
Napisz funkcję, która wypisuje "Hello, World!"

In [90]:
def hello_world():
    print("Hello, World!")
    
hello_world()

Hello, World!

## Argumenty w funkcji i zwracanie wartości funkcji

In [92]:
# Zwracanie wartości funkcji
def kwadrat(x):
    return x * x

kwadrat_4 = kwadrat(4)

print("Kwadrat 4 to:", kwadrat_4)

Kwadrat 4 to: 16

In [93]:
# Argumenty w funkcji
def dodaj(a, b):
    return a + b

wynik = dodaj(a = 5, b = 10)
print("Wynik dodawania:", wynik)

Wynik dodawania: 15

### Ćwiczenie: 
Napisz funkcję zwracającą większą z dwóch liczb

In [95]:
def wieksza(a, b):
    if a > b:
        return a
    else:
        return b

x = wieksza(b = 10, a = 4)
print(x)

10

## List comprehensions

In [97]:
print(range(10))

range(0, 10)

In [99]:
liczby = [x for x in range(10)] # liczby od 0 do 10 wyłącznie
print("Liczby 0 - 9:", liczby)

liczby = [x for x in range(10) if x % 2 == 0] # liczby parzyste od 0 do 10 wyłącznie 
print("Liczby parzyste 0-9:", liczby)

Liczby 0 - 9: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Liczby parzyste 0-9: [0, 2, 4, 6, 8]

### Ćwiczenie: 
Użyj list comprehension, aby stworzyć listę liczb podzielnych przez 3 z zakresu 1-30 włącznie

In [110]:
x2 = [x for x in range(1,31) if x % 3 == 0]
print(x2)


# BONUS
x1 = [x for x in range(3, 31, 3)]
print(x1)
x3 = [x * 3 for x in range(1,11)]
print(x3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]